
/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

::selection {
background: #bee3f8; 
color: #2b6cb0;     
}